.customAddToCart div.head {
  display: flex;
  justify-content: space-between;
}
.zLabel p {
  font-weight: bold;
}
.zLabel p img {
  width: 15px;
  margin-right: 5px;
}
label {
  display: block;
}
label input.radio {
  position: absolute;
  left: -5000px;
}
.paket {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 11px;
  cursor: pointer;
  margin-bottom: 17px;
}
.paket .packagePrice {
  text-align: right;
}
.packagePrice label {
  font-weight: bold;
}
.packagePrice .label {
  font-weight: bold;
  display: inline-block;
  background-color: #de1528;
  color: white;
  border-radius: 20px;
  padding: 4px 10px;
}
.packagePrice .price {
  /* font-size:27px; */
  color: #de1528;
  font-weight: bold;
  line-height: 38px;
}
.packageInfo {
  padding-left: 35px;
  position: relative;
  padding-top: 6px;
}
.packageInfo span {
  position: relative;
  top: 8px;
}
.packageInfo:before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 13px;
  border-radius: 20px;
  border: 1px solid #4c4d4f;
}
.addToCartForm label {
  font-family: "Fira Sans Condensed", Sans-serif;
  font-weight: 700;
}
.addToCartForm label input.radio:checked + div.paket {
  background-color: #ddf4e6;
}
.addToCartForm label input.radio:checked + div.paket .packageInfo:before {
  border: 1px solid #1fb25a;
  background-color: #1fb25a;
}
.greenbadge {
  background-color: #1fb25a;
  border: 1px solid #1fb25a;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.addToCartForm button {
  background-color: #1fb25a;
  border: 1px solid #1fb25a;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  text-transform: uppercase;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.addToCartForm button:hover {
  background-color: #117c3c;
}
.feature img {
  max-width: 10px;
  max-width: 19px;
  position: relative;
  top: 4px;
}
.customAddToCart hr {
  margin: 0;
  background-color: white;
  color: white;
  border: 0px solid white;
  height: 2px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.customAddToCart div.payment-logos {
  display: flex;
  justify-content: space-between;
}
.payment-logos img {
  max-height: 28px;
}
