/* Default values */

body.color-theme-default {
  --theme-primary: #de1528;
  --theme-primary-transparent: rgba(222, 21, 40, 0.1019607843);
  --theme-secondary: #1fb25a;
  --theme-secondary-transparent: rgba(31, 178, 90, 0.1019607843);
}

/* Color themes */

body.color-theme-01 {
  --theme-primary: #0076a3;
  --theme-primary-transparent: rgba(0, 118, 163, 0.1019607843);
  --theme-secondary: #ff8d41;
  --theme-secondary-transparent: rgba(255, 141, 65, 0.1019607843);
}

body.color-theme-02 {
  --theme-primary: #000000;
  --theme-primary-transparent: rgba(0, 0, 0, 0.1019607843);
  --theme-secondary: #6e867c;
  --theme-secondary-transparent: rgba(110, 134, 124, 0.1019607843);
}

body.color-theme-03 {
  --theme-primary: #f26d7d;
  --theme-primary-transparent: rgba(242, 109, 125, 0.1019607843);
  --theme-secondary: #cd4656;
  --theme-secondary-transparent: rgba(205, 70, 86, 0.1019607843);
}

body.color-theme-04 {
  --theme-primary: #20729c;
  --theme-primary-transparent: rgba(32, 114, 156, 0.1019607843);
  --theme-secondary: #264860;
  --theme-secondary-transparent: rgba(38, 72, 96, 0.1019607843);
}

body.color-theme-05 {
  --theme-primary: #e41e26;
  --theme-primary-transparent: rgba(228, 30, 38, 0.1019607843);
  --theme-secondary: #f9aa1a;
  --theme-secondary-transparent: rgba(249, 170, 26, 0.1019607843);
}

body.color-theme-06 {
  --theme-primary: #17a94b;
  --theme-primary-transparent: rgba(23, 169, 75, 0.1019607843);
  --theme-secondary: #fdb71a;
  --theme-secondary-transparent: rgba(253, 183, 26, 0.1019607843);
}

body.color-theme-07 {
  --theme-primary: #e44261;
  --theme-primary-transparent: rgba(228, 66, 97, 0.1019607843);
  --theme-secondary: #a4c13a;
  --theme-secondary-transparent: rgba(164, 193, 58, 0.1019607843);
}

body.color-theme-08 {
  --theme-primary: #df0b67;
  --theme-primary-transparent: rgba(223, 11, 103, 0.1019607843);
  --theme-secondary: #34c4a7;
  --theme-secondary-transparent: rgba(52, 196, 167, 0.1019607843);
}

body.color-theme-09 {
  --theme-primary: #ffa72b;
  --theme-primary-transparent: rgba(255, 167, 43, 0.1019607843);
  --theme-secondary: #51bbb5;
  --theme-secondary-transparent: rgba(81, 187, 181, 0.1019607843);
}

body.color-theme-10 {
  --theme-primary: #169c8d;
  --theme-primary-transparent: rgba(22, 156, 141, 0.1019607843);
  --theme-secondary: #ec4d4e;
  --theme-secondary-transparent: rgba(236, 77, 78, 0.1019607843);
}

/* Utility classes */

.primary-color {
  color: var(--theme-primary) !important;
}

.primary-bg-color {
  background-color: var(--theme-primary) !important;
}

.primary-fill {
  fill: var(--theme-primary) !important;
}

.secondary-color {
  color: var(--theme-secondary) !important;
}

.secondary-bg-color {
  background-color: var(--theme-secondary) !important;
}

.primary-transparent-color {
  color: var(--theme-primary-transparent) !important;
}

.primary-transparent-bg-color {
  background-color: var(--theme-primary-transparent) !important;
}

.secondary-transparent-color {
  color: var(--theme-secondary-transparent) !important;
}

.secondary-transparent-bg-color {
  background-color: var(--theme-secondary-transparent) !important;
}

.bg-dark-grey {
  background-color: #282827 !important;
}

.return-link.primary-color .return-link-arrow {
  fill: var(--theme-primary) !important;
  stroke: var(--theme-primary) !important;
}

.slick-dots li.slick-active button::before {
  color: var(--theme-primary) !important;
}

.review-swiper-container-grid span.swiper-pagination-bullet-active {
  background: var(--theme-primary) !important;
}

.ingredients-grid-swiper .swiper-slide h5::after {
  background-color: var(--theme-primary) !important;
}

.custom-checkbox::before {
  background-color: var(--theme-secondary) !important;
}

.circle-colored .circle-tag,
.circle-colored .circle-tag,
.circle-colored .circle-tag {
  background-color: var(--theme-primary) !important;
  color: #fff;
}

.circle-colored.switch-color .circle-tag,
.circle-colored.switch-color .circle-tag,
.circle-colored.switch-color .circle-tag {
  background-color: var(--theme-primary) !important;
  color: #fff;
}

.circle-white .circle-text h2,
.circle-white .circle-text span {
  color: var(--theme-primary) !important;
}

.image-notice ul li::before {
  color: var(--theme-primary) !important;
}

.usage.content-block .content-section h3,
.usage.content-block .content-section h4,
.usage.content-block .content-section h5,
.usage.content-block .content-section p {
  color: #282828 !important;
}

.usage.content-block .content-section .usage-steps::before {
  background-color: var(--theme-primary) !important;
}

.banner-white h2,
.banner-white h3,
.banner-white p {
  color: var(--theme-primary) !important;
}

.banner-colored {
  background-color: var(--theme-secondary) !important;
}

.icon-primary-color.icon-check ul li::before,
.icon-primary-color.icon-dot ul li::before {
  color: var(--theme-primary) !important;
}

.icon-primary-color .icon-check.icon-element::before {
  color: var(--theme-primary) !important;
}

.icon-secondary-color.icon-check ul li::before,
.icon-secondary-color.icon-dot ul li::before {
  color: var(--theme-primary) !important;
}

.icon-secondary-color .icon-check.icon-element::before {
  color: var(--theme-primary) !important;
}

.product-description h2,
.product-description h3 {
  color: var(--theme-primary) !important;
}

.product-description h4,
.product-description h5,
.product-description h6 {
  color: #282828 !important;
}

.product-wrap .product-info .add-product-btn,
.product-wrap .product-info-mobile .add-product-btn {
  background-color: transparent !important;
}

.content-block {
  color: #282828 !important;
}

.content-block h1,
.content-block h2,
.content-block h3,
.content-block p {
  color: var(--theme-primary) !important;
}

.content-block.content-block h3,
.content-block.text-icons h3,
.content-block.icons-grid h3,
.content-block.two-two-grid-photo h3 {
  color: var(--theme-primary) !important;
}
.bg-light-grey {
  background-color: #ebebeb;
}
.font-size-14 {
  font-size: 14px;
  line-height: 20px;
  color: #b8b8b8;
}

.font-size-16 {
  font-size: 16px;
  line-height: 22px;
}

.font-size-18 {
  font-size: 18px;
  line-height: 23px;
}
.font-size-21 {
  font-size: 21px;
  line-height: 24px;
}

.font-size-26 {
  font-size: 26px;
  line-height: 33px;
}

.font-size-30 {
  font-size: 30px;
  line-height: 33px;
}

.font-size-40 {
  font-size: 40px;
  line-height: 43px;
}
.product-template-default .elementor-element > .e-con-inner {
  padding-block-start: 0px !important;
  padding-block-end: 0px !important;
}
.product-template-default
  .elementor-location-footer
  .elementor-element
  > .e-con-inner {
  padding-block-start: 40px !important;
  padding-block-end: 20px !important;
}
.product-template-default .elementor-element > .e-con-inner > div {
  margin-bottom: 0px;
}
div.elementor.type-product {
  margin-top: 2.7rem;
}
.product-main div.e-con-inner div.order-box {
  width: 480px;
}
.product-main div.e-con-inner div.content-holder {
  width: calc((100% - 480px) / 100 * 55);
}
.product-main div.e-con-inner div.image-holder {
  width: calc((100% - 480px) / 100 * 45);
  text-align: center;
  padding-bottom: 0;
}
.product-main div.e-con-inner div.image-holder img {
  display: inline-block;
}
.reviewSwiper {
  margin-bottom: 0 !important;
}
.reviewSwiper div.swiper-wrapper {
  margin-bottom: 0 !important;
}

.revContent {
  text-align: left;
}
.e-con.e-con > .e-con-inner > .elementor-widget.stamps {
  margin-bottom: 0;
}
.e-con.e-con > .e-con-inner > .elementor-widget.stamps .swiper-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
div.badgeHolder > div.e-con-inner {
  max-width: 1200px !important;
  padding-right: 3rem;
  padding-left: 3rem;
}
.swiper-container {
  padding-bottom: 25px;
}
.swiper-pagination {
  bottom: 0px !important;
}
.swiper-mini-pagination {
  text-align: center;
}
.swiper-pagination-bullet {
  background-color: var(--e-n-carousel-dots-normal-color, #000);
  width: 10px;
  height: 10px;
  margin-left: 6px;
  margin-right: 6px;
}
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.swiper-pagination-bullet-active:hover {
  background-color: #1fb15a;
  opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--e-n-carousel-dots-normal-color, #000);
}
.greenCheckList ul li {
  padding-left: 17px !important;
  position: relative !important;
}
.greenCheckList ul li:before {
  top: 2px !important;
  left: -10px !important;
  position: absolute !important;
}
.product-template-default
  .elementor-element.greenReviewBlock
  > .e-con-inner
  > div {
  margin-bottom: 0;
}
.product-template-default
  .elementor-element.greenReviewBlock
  > .e-con-inner
  > div:first-child {
  margin-top: 1rem;
}
.product-template-default
  .elementor-element.greenReviewBlock
  > .e-con-inner
  > div:last-child {
  margin-bottom: 1rem;
}
.primary-color h1 {
  color: var(--theme-primary) !important;
}
.elementor.product.type-product.product > div.elementor-element {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
div.product-short-description ul {
  padding-left: 15px;
}
div.product-short-description ul li {
  list-style-type: none;
  position: relative;
}
div.product-short-description ul li:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--theme-primary) !important;
  border-radius: 20px;
  left: -12px;
  top: 10px;
  position: absolute;
}
.product-details {
  margin-top: 15px;
}
div.creviews {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
div.product-main {
  padding-bottom: 1.5rem !important;
}
.contentRevSlider {
  margin-bottom: 0 !important;
}
.nutrisslim-bottom-features div.contentPart .addToCartForm {
  margin-top: 1.5rem;
}
.product-main div.e-con-inner div.order-box {
  width: 480px;
}
.customAddToCart div.head {
  display: flex;
  justify-content: space-between;
}
.zLabel p img {
  width: 15px;
  margin-right: 5px;
}
.greenbadge {
  background-color: #1fb25a;
  border: 1px solid #1fb25a;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.customAddToCart hr {
  margin: 0;
  background-color: white;
  color: white;
  border: 0px solid white;
  height: 2px;
  margin-top: 25px;
  margin-bottom: 20px;
}
div.elementor-widget-nutrisslim_ingredients_swiper,
div.elementor-widget-top_list_section,
div.elementor-widget-ic_widget,
div.elementor-widget-nutrisslim_faq,
div.elementor-widget-nutrisslim-product-tabs,
div.elementor-widget-foot_widget {
  padding-top: 1.5rem;
}
div.elementor-widget-nutrisslim_faq {
  padding-bottom: 1.5rem;
}
.elementor.product.type-product.product > div.elementor-element.fimage {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 3rem;
}
.elementor.product.type-product.product > div.elementor-element.factHolder {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
div.factHolder div.facts {
  background-color: black;
  padding-bottom: 1.5rem;
}
div.factHolder div.facts div.inner {
  max-width: 1200px !important;
  padding-right: 3rem;
  padding-left: 3rem;
  display: flex;
  text-align: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
div.factHolder div.facts div.inner div.item {
  color: white;
  flex: 1;
  font-weight: 800;
  font-size: 18px;
}
div.factHolder div.facts div.inner div.item span {
  font-family: "Fira Sans Condensed", sans-serif;
  display: block;
  font-size: 68px;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .elementor.product.type-product.product > div.elementor-element {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  div.elementor-element.product-main .e-con-inner {
    display: grid;
    grid-template-columns: 45% 55%; /* Set the width of the first column to 45% and the second to 55% */
  }
  .product-main div.e-con-inner div.content-holder {
    width: 100%;
  }
  .product-main div.e-con-inner div.image-holder {
    width: 100%;
    text-align: center;
  }
  .product-main div.e-con-inner div.order-box {
    grid-column: 1 / -1; /* Stretch across all columns */
    width: 100%;
    max-width: 580px;
    margin: auto; /* Center the row */
  }
  div.badgeHolder > div.e-con-inner {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .elementor.product.type-product.product > div.elementor-element.txtimgBlock {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .woocommerce #reviews #comments ol.commentlist {
    padding-left: 0;
  }
  .woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin-left: 0;
  }
  .elementor.product.type-product.product > div.elementor-element {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  div.customAddToCart {
    display: flex;
    flex-direction: column;
  }
  div.customAddToCart div.featureWrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  div.customAddToCart div.featureWrapper div.feature {
    white-space: nowrap;
    width: auto;
  }
  div.elementor.type-product {
    margin-top: 0px;
  }
  /*.product-template-default .elementor-element > .e-con-inner {
    flex-direction: column;
  }*/
  .product-main div.e-con-inner div.order-box {
    grid-column: 1 / -1; /* Stretch across all columns */
    width: 100%;
    max-width: 580px;
    margin: auto; /* Center the row */
    margin-top: 1.5rem;
  }
  .product-main div.e-con-inner div.content-holder {
    width: 100%;
  }
  .product-main div.e-con-inner div.image-holder {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .reviewSwiper {
    margin-bottom: 0;
  }
  div.badgeHolder > div.e-con-inner {
    padding-right: 0;
    padding-left: 0;
  }
  .elementor-widget-nutrisslim_acf_media_content div.media-content-subsection {
    flex-direction: column !important;
  }
  .elementor-widget-nutrisslim_acf_media_content
    div.media-content-subsection
    div.img-holder {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .elementor-widget-nutrisslim_acf_media_content
    div.media-content-subsection
    div.content-holder {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .lists-container {
    flex-wrap: wrap;
  }
  .lists-container div.checkPlus {
    flex: 0 0 50%; /* Do not grow, do not shrink, start at 50% of the width */
    flex-basis: 50%;
    max-width: 50%;
  }

  .lists-container div.middle-img {
    flex: 0 0 100%; /* Do not grow, do not shrink, start at 100% of the width */
    order: 2; /* Move to the second 'row' by rendering it after the items with default order */
    flex-basis: 100%;
    max-width: 100%;
  }

  .lists-container div.checkMinus {
    flex-basis: 50%;
    max-width: 50%;
  }
  .lists-container div.greenCheckList h3 {
    font-size: 1.2rem;
  }
  .lists-container div.middle-img {
    padding: 0 10px;
  }
  .ic-icons {
    flex-wrap: wrap;
  }
  .ic-icon {
    flex: 1 1 50%; /* Grow and shrink as needed, start at 50% of the width */
    box-sizing: border-box;
    padding: 10px; /* Adjust the padding as necessary */
    max-width: calc(50% - 20px); /* Adjust this value based on the padding */
  }
  h2,
  .elementor-widget-heading .elementor-heading-title {
    font-size: 28px !important;
  }
  h2 {
    margin-bottom: 1rem !important;
  }
  .contentRevSlider {
    margin-bottom: 0;
  }
  .elementor-widget-product_video_description div.media-content-subsection {
    flex-direction: column;
  }
  .product-template-default .elementor-element.creviews > .e-con-inner > div {
    margin-bottom: 0;
  }
  .product-template-default .elementor-element > .e-con-inner > div.creviews {
    margin-bottom: 0;
  }
  .elementor-widget-product_video_description div.media-content-subsection {
    flex-direction: column-reverse;
  }
  .elementor-widget-product_video_description
    div.media-content-subsection
    div.content-holder {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .elementor-widget-product_video_description
    div.media-content-subsection
    div.image-holder {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .product-template-default .elementor-element > .e-con-inner > div.guarantee {
    margin-bottom: 0 !important;
  }
  .product-template-default
    .elementor-element.guarantee
    > .e-con-inner
    > div:first-child {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .product-template-default
    .elementor-element.guarantee
    > .e-con-inner
    > div:last-child {
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  div.nutrisslim-bottom-features {
    flex-direction: column !important;
  }
  .nutrisslim-bottom-features div.imagePart {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .nutrisslim-bottom-features div.contentPart {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  div.factHolder div.facts div.inner {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  div.factHolder div.facts div.inner div.item {
    flex: 1 0 50%; /* Each item takes up 50% of the container width */
    font-size: 16px; /* Optionally adjust the font size for smaller screens */
  }
  div.factHolder div.facts div.inner div.item span {
    font-size: 48px;
  }
  .nutrisslim-bottom-features div.contentPart .addToCartForm {
    text-align: center;
  }
  .nutrisslim-bottom-features div.contentPart .addToCartForm button {
    display: inline-block;
  }

  .woocommerce
    .uwcc-cart-popup-inner
    span.onsale:not(#cartOfferspan.onsale):not(
      .custom-product-swiperspan.onsale
    ):not(#checkoutOfferHolderspan.onsale) {
    width: 39px !important;
    height: 40px !important;
    font-size: 18px !important;
  }
}
