/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}
/* Container class to maintain aspect ratio */
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

/* 16:9 aspect ratio */
.embed-responsive-16by9 {
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

/* Responsive item within the container */
.embed-responsive-item, .youtube-player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}