$gray:#333;
$blue: #005B96;
$green: #54D780;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #333;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #005B96; //royalblue
$color__link-visited: #004675; //purple
$color__link-hover: #1c70ba; //midnightblue
$color__text-main: #333;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$buttonColor: white;
$buttonBackground: $green;
$buttonHoverColor: white;
$buttonHoverBackground: $gray;

$border: 1px solid white;
